<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Resume Parser</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="/images/logo.png" alt="" />
            <span>
              Resume Parser
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </header>
    <section class="slider_section ">
      <div class="carousel_btn-container">
       
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      Submit Your Resume here
                    </h1>
                    <p>
                      Upload your cv/resume in pdf format here to see the magic!
                      You will get the data erxtracted within seconds...
                    </p>
                    <div class="btn-box">
                      <!-- <a href="" class="btn-1">
                        Upload
                      </a>
                      <a href="" class="btn-2">
                        Get A Quote
                      </a> -->
                      <form action="/upload" method="post" enctype="multipart/form-data">
                        <label for="resume" class="form-label">Upload Resume (PDF only):</label>
                        <input type="file" id="resume" class="form-file" name="resume" accept=".pdf" required>
                        <input type="submit" value="submit" title="submit">
                      </form>
                     
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src="/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
         
        </div>

      </div>

    </section>
    <!-- end slider section -->
  </div>

  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/custom.js"></script>


</body>
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h1>Hiiii</h1>
   <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="resume">Upload Resume (PDF only):</label>
    <input type="file" id="resume" name="resume" accept=".pdf" required>
    <input type="submit" value="submit" title="submit">
   </form>

</body>
</html>  -->